body
    {
#banner  [

        background: #CCCCCC;
    }
    
    #xscratch
    {
         width: 10%;
    }

    h1
    {
        text-align: center;
    }

    p
    {
        text-align: center;
    }

#missao
{
        font-size:20px 
}

    strong
    { 
    color: rgb(0, 4, 255)
    }



   p
   {
      text-align: center;
   }